; begin auth token
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/registry/:username=ramco-nebula
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/registry/:_password=NmlqNWc0aTNrbHhsdGV3aHRybjZ3NmNqb2hvaHE0ZGR2bHF6bHRyZmtoYzZpcXE1b3BjcQ==
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/registry/:email=nebula@ramco.com
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/:username=ramco-nebula
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/:_password=NmlqNWc0aTNrbHhsdGV3aHRybjZ3NmNqb2hvaHE0ZGR2bHF6bHRyZmtoYzZpcXE1b3BjcQ==
//pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/:email=nebula@ramco.com
; end auth token

@nebula:registry=https://pkgs.dev.azure.com/ramco-nebula/nebulashell/_packaging/ramco-nebula-pkgs/npm/registry/ 
always-auth=true
